<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Login {% endblock %} - Product Manager</title>

    <!-- CSS Files -->
    <link href="{{ asset('admin-style/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('admin-style/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('admin-style/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('admin-style/css/style.css') }}" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">PM+</h1>

            </div>
            <h3>Welcome in ProductManager</h3>
            <p>Login in. To see it in action.</p>
            {% if error %}
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ error.messageKey|trans(error.messageData) }}
                </div>
            {% endif %}
            <form action="{{ path('login_route') }}" method="post" class="m-t" role="form">
                {#<label for="username">Username:</label>#}
                <div class="form-group">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                </div>

                {#<label for="password">Password:</label>#}
                <div class="form-group">
                    <input type="password" id="password" name="_password" class="form-control"/>
                </div>
                {#
                    Se si vuole controllare l'URL a cui l'utente viene
                    rinviato in caso di successo (approfondito più avanti)
                    <input type="hidden" name="_target_path" value="/account" />
                #}
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a href="#"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>
            </form>
            <p class="m-t"> <small>&copy; {{ "now"|date("Y") }}</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{{ asset('admin-style/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('admin-style/js/bootstrap.min.js') }}"></script>

</body>

</html>