<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} Dashboard {% endblock %} - Catalogo Enteweb</title>

    <!-- CSS Files -->
    <link href="{{ asset('admin-style/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('admin-style/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('admin-style/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('admin-style/css/style.css') }}" rel="stylesheet">

    <!-- Toastr style -->
    <link href="{{ asset('admin-style/css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{{ asset('admin-style/js/plugins/gritter/jquery.gritter.css') }}" rel="stylesheet">

    <link href="{{ asset('admin-style/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('admin-style/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('admin-style/css/plugins/dropzone/basic.css') }}" rel="stylesheet">
    <link href="{{ asset('admin-style/css/plugins/dropzone/dropzone.css') }}" rel="stylesheet">
        
    <link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon"/>

    {% block stylesheets %}{% endblock %}
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
            {% block sidebar %}
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="" src="{{ asset('admin-style/img/q.png') }}" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">{{ app.user.nome }} {{ app.user.cognome }}</strong>
                                    </span>
                                    <span class="text-muted text-xs block">{{ app.user.username }}</span>
                                </span>
                            </a>
                            {#
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="login.html">Logout</a></li>
                            </ul>
                            #}
                        </div>
                        <div class="logo-element">
                            <img alt="image" class="" src="{{ asset('admin-style/img/q_s.png') }}" />
                        </div>
                    </li>
                    {% block menu %}{% endblock %}
                </ul>
            {% endblock %}
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        {#<form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>#}
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <div id="lingua">
                                {{ render(controller('QwebCMSCatalogoBundle:Language:index')) }}
                            </div>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            {% block pagetitle %}
                {#{{ app.request.attributes.get('_route') }}#}
            {% endblock %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content">
                        {% block content %}

                        {% endblock %}
                    </div>
                        {% block footer %}
                    <div class="footer">
                        <div class="pull-right">
                            <a href="http://www.qweb.eu">Credits</a>
                        </div>
                        <div>
                            <strong>Copyright</strong> Qwebsrl &copy; 2015
                        </div>
                    </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
    </div>
    <!-- Mainly scripts -->
    <script src="{{ asset('admin-style/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('admin-style/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('admin-style/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('admin-style/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    {#
    <!-- Flot -->
    <script src="{{ asset('admin-style/js/plugins/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('admin-style/js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ asset('admin-style/js/plugins/flot/jquery.flot.spline.js') }}"></script>
    <script src="{{ asset('admin-style/js/plugins/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('admin-style/js/plugins/flot/jquery.flot.pie.js') }}"></script>
    #}

    {#
    <!-- Peity -->
    <script src="{{ asset('admin-style/js/plugins/peity/jquery.peity.min.js') }}"></script>
    <script src="{{ asset('admin-style/js/demo/peity-demo.js') }}"></script>
    #}

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('admin-style/js/inspinia.js') }}"></script>
    <script src="{{ asset('admin-style/js/plugins/pace/pace.min.js') }}"></script>

    {#
    <!-- jQuery UI -->
    <script src="{{ asset('admin-style/js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    #}

    {#
    <!-- GITTER -->
    <script src="{{ asset('admin-style/js/plugins/gritter/jquery.gritter.min.js') }}"></script>

    <!-- Sparkline -->
    <script src="{{ asset('admin-style/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>

    <!-- Sparkline demo data  -->
    <script src="{{ asset('admin-style/js/demo/sparkline-demo.js') }}"></script>

    <!-- ChartJS-->
    <script src="{{ asset('admin-style/js/plugins/chartJs/Chart.min.js') }}"></script>
    #}

    <!-- Toastr -->
    <script src="{{ asset('admin-style/js/plugins/toastr/toastr.min.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>