{# src/Acme/DemoBundle/Resources/views/Random/index.html.twig #}
{% extends '::layout.html.twig' %}

{% block title %}Crea Nuovo Prodotto{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/html5imageupload.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
    {{ form_start(form) }}

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    {% if id_album > 0 %}
                    <li class=""><a data-toggle="tab" href="#tab-1"> Informazioni Prodotto</a></li>
                    <li class="active"><a data-toggle="tab" href="#tab-2">Info Aggiuntive</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">HTML5 IMAGE UPLOAD</a></li>
                    {% else %}
                    <li class="active"><a data-toggle="tab" href="#tab-1"> Informazioni Prodotto</a></li>
                    <li class="disabled"><a>Immagini</a></li>
                    <li class="disabled"><a>HTML5 IMAGE UPLOAD</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    {% if id_album > 0 %}
                    <div id="tab-1" class="tab-pane">
                    {% else %}
                    <div id="tab-1" class="tab-pane active">
                    {% endif %}
                        <div class="panel-body">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ form_label(form.title, label|default(null) ,{'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.title) }}
                                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.shortDescription, label|default(null) ,{'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.shortDescription) }}
                                    {{ form_widget(form.shortDescription, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.description, label|default(null) ,{'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.description) }}
                                    {{ form_widget(form.description, {'attr': {'class': 'form-control tinymce'}}) }}
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.cod, label|default(null) ,{'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.cod) }}
                                    {{ form_widget(form.cod, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.pub, label|default(null) ,{'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.pub) }}
                                    <div class="checkbox">
                                        <label>
                                            {{ form_widget(form.pub) }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    {{ form_label(form.position, label|default(null) ,{'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.position) }}
                                    {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ form_label(form.categories, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-12'}}) }}
                                    {{ form_errors(form.categories) }}
                                    <div class="col-lg-12 m-l-n">
                                        {{ form_widget(form.categories, {'attr': {'class': 'form-control', 'multiple':'true'}}) }}
                                    </div>
                                </div>
                                <div class="form-group ">
                                    {{ form_label(form.featurevalues, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-12'}}) }}
                                    {{ form_errors(form.featurevalues) }}
                                    <div class="col-lg-12 m-l-n">
                                        {{ form_widget(form.featurevalues, {'attr': {'class': 'form-control', 'multiple':'true'}}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                {{ form_label(form.save, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-12'}}) }}
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

                                {{ form_label(form.saveAndContinue, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-12'}}) }}
                                {{ form_widget(form.saveAndContinue, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                        </div>
                    </div>

                    {% if id_album > 0 %}
                    <div id="tab-2" class="tab-pane active">
                    {% else %}
                    <div id="tab-2" class="tab-pane">
                    {% endif %}
                        <div class="panel-body">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Immagini Prodotto</h5>
                                </div>
                                <div class="ibox-content">
                                    <div id="my-awesome-dropzone" class="dropzone" action="#">
                                        <div class="dropzone-previews"></div>
                                        <button type="submit" class="btn btn-primary pull-right save_image">Salva Immagini</button>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary" name="exit" id="exit">Salva ed Esci</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Immagine Prodotto Personalizzata</h5>
                                </div>
                                <div class="col-md-12">
                                    <div class="html5imageupload" data-smaller="true" data-canvas-image-only="true" data-originalsize="false" data-width="960" data-height="540" data-url="{{ path('upload_product_photo') }}" data-resize="true">
                                        <input type="file" name="thumb" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary" name="exit" id="exit">Salva ed Esci</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
    
</div>
    
    
{% endblock %}

{% block javascripts %}

    <!-- DROPZONE -->
    <script src="{{ asset('admin-style/js/plugins/dropzone/dropzone.js') }}"></script>

    <!-- HTML5 IMAGE UPLOAD -->
    <script src="{{ asset('assets/js/html5imageupload.js') }}"></script>

    <!-- SCRIPT UPLOAD IMMAGINI CON DROPZONE PERSONALIZZATO -->
    <script>
        $(document).ready(function(){

            Dropzone.options.myAwesomeDropzone = {

                url: "{{ oneup_uploader_endpoint('gallery') }}",
                autoProcessQueue: false,
                //uploadMultiple: true,
                parallelUploads: 10,
                maxFiles: 100,
                addRemoveLinks: true,
                headers:{"id-album": "{{ id_album }}"},

                // Dropzone settings
                init: function() {
                    var myDropzone = this;

                    this.element.querySelector(".save_image").addEventListener("click", function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });
                    this.on("sendingmultiple", function() {
                    });
                    this.on("successmultiple", function(files, response) {
                    });
                    this.on("errormultiple", function(files, response) {
                    });
                }

            }

            $('.html5imageupload').html5imageupload({data: {id_album: '{{ id_album }}'}});

        });
    </script>
    {{ tinymce_init() }}
{% endblock %}