{# src/Acme/DemoBundle/Resources/views/Random/index.html.twig #}
{% extends '::layout.html.twig' %}

{% block title %}Modifica {{ product.title }}{% endblock %}

{% block pagetitle %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Modifica "{{ product.title }}"</h2>
            <h4>Categoria:</h4>
            {% for category in categories %}
                <span>{{ category.title }}</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block menu %}
    <li class="active">
        <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">Catalogo</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse in">
            <li><a href="{{ path('welcome') }}">Dashboard</a></li>
            <li class="active">
                <a href="{{ path('products') }}">Prodotti <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level collapse">
                    {% for category in categories %}
                        <li><a href="{{ path('show_category', {id : category.idTblCatalogueCategory}) }}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{{ path('categories') }}">Categorie</a></li>
            <li><a href="{{ path('features') }}">Caratteristiche</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    {{ form_start(form) }}

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class=""><a href="{{ path('update_product_info', {id : product.idTblCatalogueProduct}) }}">Informazioni Prodotto</a></li>
                    <li class="active"><a data-toggle="tab" href="#tab-4">Caratteristiche</a></li>
                    <li class=""><a href="{{ path('update_product_immagini', {id : product.idTblCatalogueProduct}) }}">Immagini</a></li>
                </ul>
                <div class="tab-content">

                    <div id="tab-4" class="tab-pane active">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <h3>Caratteristiche</h3>
                                {% for feature in features %}
                                    <div class="form-group">
                                        {{ form_label(form['featurevalues_'~feature.idTblCatalogueFeature], feature.title ,{'label_attr': {'class': 'control-label'}}) }}
                                        {{ form_errors(form['featurevalues_'~feature.idTblCatalogueFeature]) }}
                                        {{ form_widget(form['featurevalues_'~feature.idTblCatalogueFeature], {'attr': {'class': ''}}) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        {{ form_label(form.save, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-12'}}) }}
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

                        {{ form_label(form.exit, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-12'}}) }}
                        {{ form_widget(form.exit, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
    
</div>
    
    
{% endblock %}