{# src/Acme/DemoBundle/Resources/views/Random/index.html.twig #}
{% extends '::layout.html.twig' %}

{% block title %}Modifica {{ product.title }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('admin-style/css/plugins/summernote/summernote.css') }}" rel="stylesheet">
    <link href="{{ asset('admin-style/css/plugins/summernote/summernote-bs3.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Modifica "{{ product.title }}"</h2>
        <h4>Categoria:</h4>
        {% for category  in product.categories %}
            <span>{{ category.title }}</span>
        {% endfor %}
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    {{ form_start(form) }}

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">Informazioni Prodotto</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-4">Images</a></li>
                </ul>
                <div class="tab-content">

                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    {{ form_label(form.title, label|default(null) ,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    {{ form_errors(form.title) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.shortDescription, label|default(null) ,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    {{ form_errors(form.shortDescription) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.shortDescription, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.description, label|default(null) ,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                    {{ form_errors(form.description) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                                                <div class="form-group">
                                    {{ form_label(form.pub, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-2'}}) }}
                                    {{ form_errors(form.pub) }}
                                    <div class="col-sm-10 checkbox">
                                        <label>
                                            {{ form_widget(form.pub) }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.position, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-2'}}) }}
                                    {{ form_errors(form.position) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.categories, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-2'}}) }}
                                    {{ form_errors(form.categories) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.categories, {'attr': {'class': 'form-control', 'multiple':'true'}}) }}
                                    </div>
                                </div>
                                <div class="form-group ">
                                    {{ form_label(form.featurevalues, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-2'}}) }}
                                    {{ form_errors(form.featurevalues) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(form.featurevalues, {'attr': {'class': 'form-control', 'multiple':'true'}}) }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    {{ form_label(form.save, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-12'}}) }}
                                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-stripped">
                                    <thead>
                                    <tr>
                                        <th>
                                            Anteprima
                                        </th>
                                        <th>
                                            URL
                                        </th>
                                        <th>
                                            Posizione
                                        </th>
                                        <th>
                                            Azioni
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for immagine in immagini %}
                                        <tr>
                                            <td>
                                                <img src="{{ asset(immagine.img) }}" class="img-responsive" />
                                            </td>
                                            <td>
                                                {{ immagine.img }}
                                            </td>
                                            <td>
                                                {{ immagine.posizione }}
                                            </td>
                                            <td></td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
    
</div>
    
    
{% endblock %}

{% block javascripts %}

    <!-- SUMMERNOTE -->
    <script src="{{ asset('admin-style/js/plugins/summernote/summernote.min.js') }}"></script>

    <script>
        $(document).ready(function(){

            $('.summernote').summernote({
                onkeyup: function(e) {
                    $("#product_edit_description").val($(".summernote").code());
                }
            });

        });
    </script>
{% endblock %}