{# src/Acme/DemoBundle/Resources/views/Random/index.html.twig #}
{% extends 'layout.html.twig' %}
{% block stylesheets %}{% endblock %}

{% block title %}Crea Nuova Feature{% endblock %}

{% block pagetitle %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-12">
            <h2>Crea Nuova Featurevalues</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Dashboard</a>
                </li>
                <li>
                    <a href="/features">Featurevalues</a>
                </li>
                <li class="active">
                    <strong>Nuova Featurevalues</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-lg-12">
            {{ form_start(form) }}
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> Informazioni Featurevalues</a></li>
                </ul>
                <div class="tab-content">

                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">

                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.title, label|default(null) ,{'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.title) }}
                                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.img, label|default(null) ,{'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.img) }}
                                    {{ form_widget(form.img, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.link, label|default(null) ,{'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.link) }}
                                    {{ form_widget(form.link, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.link2, label|default(null) ,{'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.link2) }}
                                    {{ form_widget(form.link2, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                {#
                                <div class="form-group">
                                    {{ form_label(form.pub, label|default(null) ,{'label_attr': {'class': 'control-label'}}) }}
                                    {{ form_errors(form.pub) }}
                                    <div class="checkbox">
                                        <label>
                                            {{ form_widget(form.pub) }}
                                        </label>
                                    </div>
                                </div>
                                #}
                            </div>

                            <div class="col-md-6">
                                {{ form_label(form.features, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-12'}}) }}
                                {{ form_errors(form.features) }}
                                <div class="col-lg-12 m-l-n">
                                    {{ form_widget(form.features, {'attr': {'class': 'form-control', 'multiple':'true'}}) }}
                                </div>
                            </div>

                            <div class="col-md-12">
                                {{ form_label(form.save, label|default(null) ,{'label_attr': {'class': 'control-label col-sm-12'}}) }}
                                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}