{% extends 'layout.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin-style/css/plugins/sweetalert/sweetalert.css') }}"/>
{% endblock %}

{% block menu %}
    <li class="active">
        <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">Catalogo</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse in">
            <li><a href="{{ path('welcome') }}">Dashboard</a></li>
            <li class="active">
                <a href="{{ path('products') }}">Prodotti <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level collapse in">
                    {% for categ in categories %}
                        {% if id ==  categ.id %}
                            <li class="active"><a href="{{ path('show_category', {id : categ.id}) }}">{{ categ.title }}</a></li>
                        {% else %}
                            <li><a href="{{ path('show_category', {id : categ.id}) }}">{{ categ.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{{ path('categories') }}">Categorie</a></li>
            <li><a href="{{ path('features') }}">Caratteristiche</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Categoria: <span class="text-success">{{ category[0].title }}</span></h5>
        <div class="ibox-tools">
            <a class="btn btn-primary btn-xs" href="{{ path('create_category') }}"><i class="fa fa-lg fa-plus"></i> Categoria</a>
            <a class="btn btn-primary btn-xs" href="{{ path('create_product') }}"><i class="fa fa-lg fa-plus"></i> Prodotto</a>
        </div>
    </div>
    <div class="ibox-content">
        {{ knp_pagination_filter(pagination, {'a.title': 'Nome Prodotto', 'a.shortDescription': 'Descrizione'}) }}
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables">
                <thead>
                    <tr>
                        {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(pagination, 'Codice', 'a.cod') }}</th>
                        {#<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>#}
                        <th>Immagine</th>
                        <th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nome Prodotto', 'a.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Descrizione', 'a.shortDescription') }}</th>
                        <th>Stato</th>
                        <th>Home</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ product.cod }}</td>
                        {#<td>{{ product.id }}</td>#}
                        <td>
                        {% set trovata = 'false' %}
                        {% for photo in photos %}
                            {% if (photo.album == product.idTblPhotoCat) and (trovata == 'false') %}
                                <img src="{{ photo.img | imagine_filter('mini_img') }}"/>
                                {% set trovata = 'true' %}
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>{{ product.title }}</td>
                        <td>{{ product.description }}</td>
                        <td>{% if product.pub == 1 %}<i class="text-info fa fa-lg fa-check"></i>{% else %}<i class="text-danger fa fa-lg fa-times"></i>{% endif %}</td>
                        <td>{% if product.featured == 1 %}<i class="text-info fa fa-lg fa-check"></i>{% else %}<i class="text-danger fa fa-lg fa-times"></i>{% endif %}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('update_product_info', {'id' : product.id}) }}" title="Modifica" class="btn btn-xs btn-warning">Modifica</a>
                                <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Apri menù a discesa</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('delete_product', {'id' : product.id}) }}" title="Elimina" class="delete_product"><i class="fa fa-times"></i> Elimina</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <!-- SWEET ALERT -->
    <script src="{{ asset('admin-style/js/plugins/sweetalert/sweetalert.min.js') }}"></script>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>
            $(document).ready(function(){
                swal({
                    title: "Cancellato!",
                    text: "{{ flashMessage }}",
                    type: "success"
                });
            });
        </script>
    {% endfor %}

    <script>
        $(document).ready(function(){
            $('.delete_product').click(function(e){
                e.preventDefault();
                link = $(this).attr('href');
                swal({
                    title: "Sei sicuro?",
                    text: "Non sarai in grado di recuperare ciò che stai per cancellare",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Si, cancella",
                    closeOnConfirm: false
                }, function(){
                    window.location.href = link;
                });
            });
        })
    </script>

{% endblock %}