{% extends 'layout.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin-style/css/plugins/sweetalert/sweetalert.css') }}"/>
{% endblock %}

{% block menu %}
    <li class="active">
        <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">Catalogo</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse in">
            <li><a href="{{ path('welcome') }}">Dashboard</a></li>
            <li class="active">
                <a href="{{ path('products') }}">Prodotti <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level collapse in">
                    {% for category in categories %}
                        {% if id ==  category.idTblCatalogueCategory %}
                            <li class="active"><a href="{{ path('show_category', {id : category.idTblCatalogueCategory}) }}">{{ category.title }}</a></li>
                        {% else %}
                            <li><a href="{{ path('show_category', {id : category.idTblCatalogueCategory}) }}">{{ category.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{{ path('categories') }}">Categorie</a></li>
            <li><a href="{{ path('features') }}">Caratteristiche</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Categoria: <span class="text-success">{{ category.title }}</span></h5>
        <div class="ibox-tools">
            <a class="btn btn-primary btn-xs" href="{{ path('create_category') }}"><i class="fa fa-lg fa-plus"></i> Categoria</a>
            <a class="btn btn-primary btn-xs" href="{{ path('create_product') }}"><i class="fa fa-lg fa-plus"></i> Prodotto</a>
        </div>
    </div>
    <div class="ibox-content">
        {{ knp_pagination_filter(pagination, {'title': 'Nome Prodotto', 'shortDescription': 'Descrizione', 'idTblCatalogueProduct':'Id'}) }}
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables">
                <thead>
                    <tr>
                        {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(pagination, 'Codice', 'a.cod') }}</th>
                        {#<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.idTblCatalogueProduct') }}</th>#}
                        <th>Immagine</th>
                        <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nome Prodotto', 'a.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Descrizione', 'a.shortDescription') }}</th>
                        <th>Stato</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ product.cod }}</td>
                        {#<td>{{ product.id }}</td>#}
                        <td>
                        {% set trovata = 'false' %}
                        {% for photo in photos %}
                            {% if (photo.idTblPhotoCat == product.idTblPhotoCat) and (trovata == 'false') %}
                                <img src="{{ photo.img | imagine_filter('mini_img') }}"/>
                                {% set trovata = 'true' %}
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>{{ product.title }}</td>
                        <td>{{ product.shortDescription }}</td>
                        <td>{% if product.pub == 1 %}<i class="text-info fa fa-lg fa-check"></i>{% else %}<i class="text-danger fa fa-lg fa-times"></i>{% endif %}</td>
                        <td>
                            <a href="{{ path('update_product_info', {'id' : product.idTblCatalogueProduct}) }}" title="Modifica" class="btn btn-warning btn-circle"><i class="fa fa-lg fa-edit"></i></a>
                            <a href="{{ path('delete_product', {'id' : product.idTblCatalogueProduct}) }}" title="Elimina" class="btn btn-danger btn-circle"><i class="fa fa-lg fa-times"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <!-- SWEET ALERT -->
    <script src="{{ asset('admin-style/js/plugins/sweetalert/sweetalert.min.js') }}"></script>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>
            $(document).ready(function(){
                swal({
                    title: "Cancellata!",
                    text: "{{ flashMessage }}",
                    type: "success"
                });
            });
        </script>
    {% endfor %}

{% endblock %}