{# src/QwebCMS/CatalogoBundle/Resources/views/Random/index.html.twig #}
{% extends '::layout.html.twig' %}

{% block title %}Prodotti{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin-style/css/plugins/sweetalert/sweetalert.css') }}"/>
{% endblock %}

{% block pagetitle %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Lista Prodotti</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li class="active">
                <strong>Prodotti</strong>
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Prodotti <span>{{ pagination.getTotalItemCount }}</span></h5>
        <div class="ibox-tools">
            <a class="btn btn-primary btn-xs" href="{{ path('create_product') }}">Crea nuovo Prodotto</a>
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        {{ knp_pagination_filter(pagination, {'title': 'Nome Prodotto', 'shortDescription': 'Descrizione', 'idTblCatalogueProduct':'Id'}) }}
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables">
                <thead>
                    <tr>
                        {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(pagination, 'Codice', 'a.cod') }}</th>
                        {#<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.idTblCatalogueProduct') }}</th>#}
                        <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nome Prodotto', 'a.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Descrizione', 'a.shortDescription') }}</th>
                        <th>Categoria</th>
                        <th>Stato</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ product.cod }}</td>
                        {#<td>{{ product.id }}</td>#}
                        <td>{{ product.title }}</td>
                        <td>{{ product.shortDescription }}</td>

                        <td>
                        {% for category in product.categories %}
                        {{ category.title }}
                        {% endfor %}
                        </td>
                        <td>{% if product.pub == 1 %}<i class="text-info fa fa-lg fa-check"></i>{% else %}<i class="text-danger fa fa-lg fa-times"></i>{% endif %}</td>
                        <td>
                            <a href="{{ path('update_product_info', {'id' : product.idTblCatalogueProduct}) }}" title="Modifica" class="btn btn-warning btn-circle"><i class="fa fa-lg fa-edit"></i></a>
                            <a href="{{ path('delete_product', {'id' : product.idTblCatalogueProduct}) }}" title="Elimina" class="btn btn-danger btn-circle"><i class="fa fa-lg fa-times"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <!-- SWEET ALERT -->
    <script src="{{ asset('admin-style/js/plugins/sweetalert/sweetalert.min.js') }}"></script>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>
            $(document).ready(function(){
                swal({
                    title: "Cancellato!",
                    text: "{{ flashMessage }}",
                    type: "success"
                });
            });
        </script>
    {% endfor %}

{% endblock %}

