{# src/QwebCMS/CatalogoBundle/Resources/views/Welcome/index.html.twig #}
{% extends '::layout.html.twig' %}

{% block title %}Featurevalues{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin-style/css/plugins/sweetalert/sweetalert.css') }}"/>
{% endblock %}

{% block pagetitle %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Lista Featurevalues</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Featurevalues</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Featurevalues</h5>
        <div class="ibox-tools">
            <a class="btn btn-primary btn-xs" href="{{ path('create_featurevalues') }}">Crea nuova FeatureValues</a>
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <!--<a class="close-link">
                <i class="fa fa-times"></i>
            </a>-->
        </div>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Azione</th>
                </tr>
                </thead>
                <tbody>
                    {% for featurevalue in featurevalues %}
                    <tr>
                        <td>
                            {{featurevalue.idTblCatalogueFeaturevalue}}
                        </td>
                        <td>
                            {{featurevalue.title}}
                        </td>
                        <td>
                            <a href="/featurevalues/update/{{featurevalue.idTblCatalogueFeaturevalue}}" title="Modifica"><i class="fa fa-edit"></i></a>
                            <a href="/featurevalues/delete/{{featurevalue.idTblCatalogueFeaturevalue}}" title="Elimina"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <!-- SWEET ALERT -->
    <script src="{{ asset('admin-style/js/plugins/sweetalert/sweetalert.min.js') }}"></script>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>
            $(document).ready(function(){
                swal({
                    title: "Cancellata!",
                    text: "{{ flashMessage }}",
                    type: "success"
                });
            });
        </script>
    {% endfor %}

{% endblock %}

