{# src/Acme/DemoBundle/Resources/views/Random/index.html.twig #}
{% extends '::layout.html.twig' %}

{% block title %}Caratteristiche{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin-style/css/plugins/sweetalert/sweetalert.css') }}"/>
{% endblock %}

{% block menu %}
    <li class="active">
        <a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">Catalogo</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse in">
            <li><a href="{{ path('welcome') }}">Dashboard</a></li>
            <li>
                <a href="{{ path('products') }}">Prodotti <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level collapse">
                    {% for category in categories %}
                        <li><a href="{{ path('show_category', {id : category.idTblCatalogueCategory}) }}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{{ path('categories') }}">Categorie</a></li>
            <li class="active"><a href="{{ path('features') }}">Caratteristiche</a></li>
        </ul>
    </li>
{% endblock %}

{% block pagetitle %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Caratteristiche</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li class="active">
                <strong>Caratteristiche</strong>
            </li>
        </ol>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Categorie trovate <span>{{ features|length }}</span></h5>
        <div class="ibox-tools">
            <a class="btn btn-primary btn-xs" href="{{ path('create_features') }}"><i class="fa fa-lg fa-plus"></i> <strong style="font-size:16px">Categoria</strong></a>
            <a class="btn btn-primary btn-xs" href="{{ path('create_featurevalues') }}"><i class="fa fa-lg fa-plus"></i> <strong style="font-size:16px">Caratteristica</strong></a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="panel-body">
            <ul class="col-md-12" style="list-style: none; margin: 0; padding: 0; ">
                <li class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom:5px;">
                    <div class="col-md-12">
                        <p class="col-md-1">#</p>
                        <p class="feature col-md-4">Nome</p>
                        <p class="col-md-4">Azioni</p>
                    </div>
                </li>
            {% for feature in features %}
                <li class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom:5px;">
                    <div class="col-md-12">
                        <p class="col-md-1">
                            {{feature.idTblCatalogueFeature}}
                        </p>
                        <p class="col-md-4">
                            <a class="feature-title" href="#" title="Modifica" >{{feature.title}}</a>
                            <a class="btn btn-outline btn-default btn-xs btn_categoria_apri"><i class="fa fa-lg fa-chevron-down"></i> Apri</a>
                            <a class="btn btn-outline btn-default btn-xs btn_categoria_chiudi" style="display: none;"><i class="fa fa-lg fa-chevron-up"></i> Chiudi</a>
                        </p>
                        <p class="col-md-4">
                            <a href="{{ path('update_features', {'id' : feature.idTblCatalogueFeature}) }}" title="Modifica" class="btn btn-primary btn-xs btn-warning"><i class="fa fa-lg fa-edit"></i> Modifica</a>
                            <a href="{{ path('delete_features', {'id' : feature.idTblCatalogueFeature}) }}" title="Elimina" class="btn btn-primary btn-xs btn-danger"><i class="fa fa-lg fa-times"></i> Elimina</a>
                        </p>
                        <div class="col-md-12 featurevalues-container" style="display: none; padding:0 !important">
                            <ul style="list-style: none; margin: 0; padding: 0;">
                                <li class="col-md-12" >
                                    <div class="col-md-12">
                                        <p class="col-md-1">{#ID#}</p>
                                        <p class="col-md-11">{#Nome Caratteristica#}</p>
                                    </div>
                                </li>
                                {% for featuresvalue in feature.featurevalues %}
                                    {% if lingua == featuresvalue.idTblLingua %}
                                    <li class="col-md-12">
                                        <div class="col-md-12">
                                            <p class="col-md-1">></p>
                                            <div class="btn-group col-md-4">
                                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ featuresvalue.title }}</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ path('update_featurevalues', {'id' : featuresvalue.idTblCatalogueFeaturevalue}) }}" title="Modifica" ><i class="fa fa-lg fa-edit"></i> Modifica</a></li>
                                                    <li><a href="{{ path('delete_featurevalues', {'id' : featuresvalue.idTblCatalogueFeaturevalue}) }}" title="Elimina" ><i class="fa fa-lg fa-times"></i> Elimina</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="{{ path('create_featurevalues') }}"><i class="fa fa-lg fa-plus"></i> Aggiungi Caratteristica</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <!-- SWEET ALERT -->
    <script src="{{ asset('admin-style/js/plugins/sweetalert/sweetalert.min.js') }}"></script>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>
            $(document).ready(function(){
                swal({
                    title: "Cancellata!",
                    text: "{{ flashMessage }}",
                    type: "success"
                });
            });
        </script>
    {% endfor %}

    <script>
        $(document).ready(function(){
            $('.btn_categoria_apri').click(function(e) {
                e.preventDefault();
                $(this).parent().find('.feature-title').css('font-weight', 'bold');
                $(this).parent().parent().find('.featurevalues-container').removeClass('categoria_chiusa').addClass('categoria_aperta').show();
                $(this).parent().find('.btn_categoria_chiudi').show();
                $(this).hide();
            });

            $('.btn_categoria_chiudi').click(function(e) {
                e.preventDefault();
                $(this).parent().find('.feature-title').css('font-weight', 'normal');
                $(this).parent().parent().find('.featurevalues-container').removeClass('categoria_aperta').addClass('categoria_chiusa').hide();
                $(this).parent().find('.btn_categoria_apri').show();
                $(this).hide();
            });
        })
    </script>

{% endblock %}